body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293264;
  width: 100vw;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 550px;
  background-color: white;
}

.intro {
  text-align: center;
}

.intro h1 {
  margin-bottom: 0;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  color: #293264;
}

.intro p {
  margin-top: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #293264;
}

.intro-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
}

.intro-button a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: white;
  text-decoration: none;
}

/* Quiz */

.quiz {
  padding: 40px 75px 25px 75px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: white;
}

/* Questions */

.question {
  border-bottom: 0.794239px solid #DBDEF0;
  width: 400px;
}

.question h2 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
}

/* Answers */

.answers {
  padding: 10px 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;

}

.answers a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  background: white;
  border-radius: 15px;
  border: 1px solid #4D5B9E;
  min-width: 65px;
  min-height: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #293264;

}

.clicked a {
  background: #4D5B9E;
  color: white;
}

.right-answer {
  background: #94D7A2;
  color: #293264;
}

.wrong-answer {
  background: #F8BCBC;
  color: #293264;
}

/* Bottom button */

.check-answers-button {
  margin-top: 20px;
  align-self: center;
  width: 120px;
  height: 35px;
  background: #4D5B9E;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.check-answers-button a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-size: 10px;
}

.play-again-button {
  width: 120px;
  height: 35px;
  background: #4D5B9E;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-again-button a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-size: 10px;
}

.results {
  margin-top: 20px;
  align-self: center;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.results h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;

  color: #293264;
}
